*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'montseratt', sans-serif;
}

.app{
  background-image: url('./assets/sunny.jpg');
  background-size:cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.app.snow{
  background-image: url('./assets/snow.jpg');
}
.app.rain{
  background-image: url('./assets/rain.jpg');
}
.app.night{
  background-image: url('./assets/night.jpg');
}

main {
  min-height:100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding:25px;
}